<div class="jumbotron">
	<h1 class="text-center">Bem vindo ao Contatooh</h1>
</div>

<a ng-href="#/contato" class="btn btn-primary">Novo</a>
<input ng-model="filtro" type="search" placeholder="parte do nome" />
<p ng-show="contatos.length">Contatos cadastrados:
	{{contatos.length}}</p>
<p ng-hide="contatos.length">Não há contatos</p>
<p ng-show='mensagem.texto'>{{mensagem.texto}}</p>
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Nome</th>
			<th>Email</th>
			<th>Emergência</th>
			<th class="text-center">Ação</th>
		</tr>
		<tr ng-repeat="contato in contatos | filter: filtro">
			<td><a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a>
			</td>
			<td>{{contato.email}}</td>
			<td>
				{{contato.emergencia.nome}}
			</td>
			<td class="text-center">
				<button ng-click="remove(contato)" class="btn btn-warning">
					Remover</button>
			</td>
		</tr>
	</table>
</div>